<!doctype html>
<html>
<head>
	<title>Test OAuth Client</title>
	<style>@import url(./static/style.css);</style>
</head>
<body>
<div id=wrap ng-app=ZapOAuth ng-controller=cred>
	<div id=box>
		<div ng-show=isIn>
			<p>uid: {{uid}}</p>
			<p>uname: {{uname}}</p>
			<p>
				<button ng-click='signOut()'>
					SIGN OUT
				</button>
				<button ng-click='refreshToken()'
					ng-show=canRefresh>
					REFRESH TOKEN
				</button>
			</p>
		</div>
		<div ng-show=!isIn>
			<p>
				<button ng-click='signIn("twitter")'
					ng-disabled=isSigningIn>
					OAuth1.0 with Twitter
				</button>
			</p>
			<p>
				<button ng-click='signIn("github")'
					ng-disabled=isSigningIn>
					OAuth2.0 with Github
				</button>
			</p>
			<p>
				<button ng-click='signIn("google")'
					ng-disabled=isSigningIn>
					OAuth2.0 with Google
				</button>
			</p>
			<p>
				<button ng-click='signIn("whatever")'
					ng-disabled=isSigningIn>
					Unknown Service
				</button>
			</p>
		</div>
		<p ng-show=errMsg>
			<strong>ERROR:</strong> {{errMsg}}
		</p>
	</div>
</div>
<script src=./static/angular/angular.min.js></script>
<script src=./static/script.js></script>
